<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880271058498-aa90nda9h52ifmeelvb37ec9siufsjon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880271058498-aa90nda9h52ifmeelvb37ec9siufsjon</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880271058498-e1lb22t7dfm268q7onckicmccr9dhaac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdfgkw6WblspNzjqOvm87d05H8C8G5IRc</string>
	<key>GCM_SENDER_ID</key>
	<string>880271058498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-590d4</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-590d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880271058498:ios:ecab7406012feef1a52fdb</string>
</dict>
</plist>